<html layout:decorate="~{layout2}">
<div layout:fragment="content" class="container-fluid my-3">
    <div class="flex justify-between mb-3">
        <!--            <p>Content Size: <span th:text="${contentSize}"></span></p>-->
        <a th:href="@{|/question/create/${category}|}" class="btn btn-primary">질문 등록하기</a>
        <div class="flex items-center">
            <input type="text" id="search_kw" class="form-input" th:value="${kw}" placeholder="검색 키워드">
            <button class="btn btn-outline-secondary ml-2" type="button" id="btn_search">찾기</button>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">번호</th>
                <th class="px-4 py-2 text-left">제목</th>
                <th class="px-4 py-2 text-left">글쓴이</th>
                <th class="px-4 py-2 text-left">조회수</th>
                <th class="px-4 py-2 text-left">작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop : ${paging}" class="border-b">
                <td class="px-4 py-2"
                    th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td class="px-4 py-2">
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                    <span class="text-red-500 ml-2" th:if="${#lists.size(question.answerList) > 0}"
                          th:text="${#lists.size(question.answerList)}"></span>
                </td>
                <td class="px-4 py-2" th:text="${question.author != null ? question.author.username : ''}"></td>
                <td class="px-4 py-2" th:text="${question.view}"></td>
                <td class="px-4 py-2" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 페이징 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="flex justify-center">
            <li class="page-item">
                <a class="page-link px-4 py-2 border border-gray-300 rounded-md"
                   th:classappend="${!paging.hasPrevious} ? 'opacity-50' : ''"
                   th:href="${paging.hasPrevious ? '?page=' + (paging.number-1) : '?page=0'}">
                    이전
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'"
                class="page-item">
                <a th:text="${page}" class="page-link px-4 py-2 border border-gray-300 rounded-md"
                   th:href="${page == paging.number ? '#' : '?page=' + page}"
                   th:attr="data-page=${page}"></a>
            </li>
            <li class="page-item">
                <a class="page-link px-4 py-2 border border-gray-300 rounded-md"
                   th:classappend="${!paging.hasNext} ? 'opacity-50' : ''"
                   th:href="${paging.hasNext ? '?page=' + (paging.number+1) : '?page=' + (paging.totalPages - 1)}">
                    다음
                </a>
            </li>
        </ul>
    </div>

    <!-- 검색 폼 -->
    <form th:action="@{|/question/list/${category}|}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    <!-- JavaScript 코드 -->
    <script>
        // 페이지 변경 처리
        const pageElements = document.getElementsByClassName("page-link");
        Array.from(pageElements).forEach(function (element) {
            element.addEventListener('click', function () {
                const page = this.dataset.page;

                if (!isNaN(page)) { // 숫자 여부 확인
                    document.getElementById('page').value = page;
                    document.getElementById('searchForm').submit(); // 페이지 변경 시 폼 제출
                }
            });
        });

        // 검색 버튼 클릭 처리
        const btnSearch = document.getElementById("btn_search");
        btnSearch.addEventListener('click', function () {
                        const searchKeyword = document.getElementById("search_kw").value;

                document.getElementById("kw").value = searchKeyword; // 검색어 설정
                document.getElementById("page").value = 0; // 첫 페이지로 리셋
                document.getElementById("searchForm").submit(); // 검색 시 폼 제출
            });
    </script>
</div>

</html>